{% extends 'base.html' %}

{% block content %}




<div class="starter-template">
    <h1>Panel</h1>
    {{email}}<br>
    <a href="/accounts/create_event">Add Event</a>
    <br>
    <a href="/accounts/find_university">Find Users Who Attended A University</a>
    <br>
    <a href="/accounts/find_info">Find Information by Email</a>
    <br>
    <a href="/accounts/join_event">Add Myself to an Event</a>
    <br>
    <a href="/accounts/get_relations">See Who I'm Connected To</a>
  </div>

{% endblock %}